* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  background: linear-gradient(135deg, #00b16a 50%, #1dd187 100%);
  min-height: 100vh;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.login-box {
  background: #fff;
  padding: 36px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.10);
  width: 100%;
  max-width: 420px;
  text-align: center;
}
.login-box h1 {
  font-size: 38px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.login-box h1 span {
  color: #00b16a;
}

.login-box h2 {
  font-size: 22px;
  color: #000;
  margin-bottom: 18px;
}

.login-box p {
  color: #555;
  font-size: 14px;
  margin-bottom: 36px;
}

.input-field {
  text-align: left;
  margin-bottom: 10px;
}

.input-field label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.input-field input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 12px;
}

.error-message {
  color: #ff3333;
  font-size: 14px;
  margin-bottom: 10px;
}

.checkbox-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-field input {
  margin-right: 8px;
}

.checkbox-field label {
  font-size: 12px;
  color: #333;
}

.forgot-password {
  font-size: 12px;
  color: #5a8cff;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-top: -8px;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 14px;
  background: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background: #27ae60;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.signup-text a {
  color: #5a8cff;
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}