/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00b16a; /* Green background */
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%; /* Make the main container take up the full width */
  max-width: none; /* Remove max-width restriction */
  min-height: 100vh;
  justify-content: flex-start;
}

.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.container {
  margin-top: 80px; /* To avoid navbar overlap */
  padding: 20px;
  width: 100%; /* Take full width */
  max-width: 1200px; /* Or any max-width you desire */
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
}

/* Other styles for sections like features, etc. */
.features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.learn-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
