.navbar {
  display: flex;
  justify-content: space-between; /* Space out the items */
  align-items: center;
  background-color: white;
  padding: 10px 20px; /* Reduced padding for thinner navbar */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo-we {
  font-size: 30px;
  font-weight: bold; /* Bold "We" */
  color: black; /* Black color for "We" */
  margin-left: 30px;
}

.navbar-logo-gig {
  font-size: 30px;
  font-weight: bold; /* Bold "Gig" */
  color: #00b16a; /* Green color for "Gig" */
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 30px; /* Increased gap between items */
  justify-content: right;
  margin-right: 30px;
  width: 100%;
  padding-left: 0; /* Remove any default padding */
}

.navbar-links li {
  font-size: 16px;
  font-weight: normal; /* Bold the text of navbar links */
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 5px 10px; /* Adds padding to make clickable area bigger */
}

.navbar-links a:hover {
  color: #00b16a; /* Green color on hover */
}

.navbar-links .active {
  color: #00b16a; /* Green color for active link */
}
