* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup-page {
  background: linear-gradient(135deg, #00b16a 50%, #1dd187 100%);
  min-height: 100vh;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.signup-box {
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.10);
  width: 450px;
  text-align: center;
}


h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

form label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  background: #00b16a;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.btn:hover {
  background: #1dd187;
}

.login-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.login-text a {
  color: #5a8cff;
  text-decoration: none;
  font-weight: bold;
}

.login-text a:hover {
  text-decoration: underline;
}